.dropdowns-section
  padding-top 2.5rem
  width 100%
  display inline-block
  vertical-align top
  @media (min-width: mobile-break)
    padding-left 64px
    width 21.85rem
    
  &__header
    margin-bottom 1.125rem
    section-header()
    
  &__element-container
    margin-bottom 1rem