mixin dropdowns-section()
    section.dropdowns-section
        h1.dropdowns-section__header
            | search / drop down
        .dropdowns-section__element-container
            +search('Search')
        .dropdowns-section__element-container
            +search('', {state: 'failed'})
        .dropdowns-section__element-container
            +dropdown({items:['This is option 1', 'This is option 2', 'This is option 3', 'This is option 4']})