.dropdown
  background-color var(--light-grey)
  border-radius 4px
  position relative
  &__body
    height 25px
    background-color var(--light-grey)
    display flex
    align-items stretch
    overflow hidden
    padding-left 14px
    border-radius 4px
    ^[0]--open &
      border-bottom-right-radius 0
  &__actual
    background-color transparent
    border none
    width 100%
    height 100%
    pointer-events none
    text-transform capitalize
    padding-top: 6px;
  &__button
    width 37px
    height 100%
    cursor pointer
    display flex
    justify-content center
    align-items center 
    background-color var(--support-color)
  &__icon
    height 14px
    width 14px
  &__list
    display none
    position absolute
    width 100%
    z-index 9
    background-color var(--support-color)
    list-style none
    margin 0
    padding 4px 0 8px
    border-radius 4px 0 4px 4px
    ^[0]--open &
      display block
  &__item
    padding 3px 0 0 13px 
    height 30px
    color white
    display flex
    letter-spacing -.2px
    align-items center
    font-size 14px
    cursor pointer
    &:hover 
      background-color: white
      color var(--text-dark)
    
