.video-section
  padding-top 1.1rem
  margin 0 auto
  @media (min-width: mobile-break)
    width 82.5%
    
  &__header
    margin-bottom 17px
    section-header()
    
  &__body
    height 336px
    padding-left 2px
