section.video-section
    h1.video-section_head
      +section-header("video") 
    .video-section__body
        +video({src:"http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", poster:"../images/city.jpg", first:true})