.sliders-section
  &__body
    width 81%
    margin 0 auto
    padding-top 1.7rem
    display flex
    flex-direction column
    @media (min-width: mobile-break)
      flex-direction row
      justify-content space-between
  &__element-container
    width 250px