section.sliders-section
    h1.sliders-section__header.section-header Sliders
    .sliders-section__body
        div.sliders-section__element-container
            +slider(200, {color: 1})   
        div.sliders-section__element-container
            +slider(100, {parts: 11, color: 2})