

section.buttons-section
    h1.buttons-section__header.section-header Standard buttons
    .buttons-section__body
        div.buttons-section__element-container
            +button("Button!", {size:'small'})
        div.buttons-section__element-container
            +button("Button!")
        div.buttons-section__element-container
            +button("Button!", {theme: 'error'})
        div.buttons-section__element-container
            +button("Button!", {theme: 'error', size: 'small'})
        div.buttons-section__element-container
            +button("Button!", {size:'small'})
        div.buttons-section__element-container
            +button("Button!")
        div.buttons-section__element-container
            +button("Button!", {theme: 'error'})
        div.buttons-section__element-container
            +button("Button!", {theme: 'error', size: 'small'})
        div.buttons-section__element-container
            +button("Button!", {size:'small'})
        div.buttons-section__element-container
            +button("Button!")
        div.buttons-section__element-container
            +button("Button!", {theme: 'error'})
        div.buttons-section__element-container
            +button("Button!", {theme: 'error', size: 'small'})