mixin buttons-section()
    section.buttons-section
        h1.buttons-section__header
            +section-header("Standard buttons")
        .buttons-section__body
            .buttons-section__element-container
                +button("Button", {size:'small'})
            .buttons-section__element-container
                +button("Button")
            .buttons-section__element-container
                +button("Button", {color: 'red'})
            .buttons-section__element-container
                +button("Button", {color: 'red', size: 'small'})
            .buttons-section__element-container
                +button("Button", {size:'small'})
            .buttons-section__element-container
                +button("Button")
            .buttons-section__element-container
                +button("Button", {color: 'red'})
            .buttons-section__element-container
                +button("Button", {color: 'red', size: 'small'})
            .buttons-section__element-container
                +button("Button", {size:'small'})
            .buttons-section__element-container
                +button("Button")
            .buttons-section__element-container
                +button("Button", {color: 'red'})
            .buttons-section__element-container
                +button("Button", {color: 'red', size: 'small'})