mixin input(placeholder, {pattern, errMessage="Error", sucMessage="Thanks!"}={})
    .input
        .input__back
            input(type='text', placeholder=placeholder, pattern=pattern).input__actual
            .input__message.input__message--error=errMessage
            .input__message.input__message--success=sucMessage
