
.advertised-prices
  &__title
    font-size 1.5rem 
  &__list
    display grid
    grid-auto-rows auto
    grid-gap 20px
    margin-top: 2rem
  &__list-item 
    display grid
    @media (min-width $break)
      grid-template-columns 150px 150px auto
    grid-gap 20px
  &__item-image
    max-height inherit
  &__item-title
    text-align right
  &__item-price
    font-weight 300 
    font-size 4rem
    text-align right
    color var(--main-color)
  &__copy
    grid-column 1 / span 2
    @media (min-width $break)
      grid-column auto