
.form-elements-section
  &__body
    padding-top 1.875rem
    display grid
    grid-template-columns 17.9375rem auto
    grid-template-rows auto auto
    grid-gap 1.25rem
    place-items start stretch
  &__texts
    grid-row span 2
  &__toggles 
    margin-top -1.1875rem
    .form-elements-section__subsection
      padding-top .8125rem
      padding-left 77px
      justify-content start
    .form-elements-section__input-container 
      margin-right 15px
  &__ticks
    margin-top -2.5rem
    .form-elements-section__subsection
      padding-top .75rem
      justify-content flex-start
      align-self flex-start
      padding-left 6.875rem
    .form-elements-section__input-container 
      margin-right 1rem
  &__subsection
    display flex
    justify-content center
  &__textarea
    height 5.625rem
  &__button
    float right
  &__input-container  
    margin-bottom 12px
  
  &__subsection-body
    display flex
    justify-content center
