.aboutus-page
  &__profiles
    margin-top 2rem
    margin-bottom 2rem
    display grid
    grid-gap 20px
    grid-template-columns repeat(auto-fill, minmax(300px, 1fr ))
  &__description
    margin-bottom 2rem
    
