.review-list
  display grid
  grid-template-columns repeat(auto-fit, minmax(400px, 1fr))
  grid-auto-rows minmax(max-content, auto)
  grid-gap 40px
  &__item
    display grid
    grid-template-columns 1fr 2fr
    grid-template-rows 1rem .7rem auto
    grid-gap 5px 10px
  &__name
    font-size 1rem
    grid-column-end span 2
    align-self end
    font-weight 600
  &__date
    font-style italic
    font-weight 300
    font-size .6rem
    grid-column-end span 2
  &__rating
    place-self center center
    