include /src/components/circlecharts/percentage.pug

mixin review-list(reviewsList) 
    ul.review-list
        each review in reviewsList
            li.review-list__item
                .review-list__name=review.name
                .review-list__date=review.date
                .review-list__rating 
                    +percentage(review.rating)
                .review-list__message=review.message

        