mixin button(text, {size="big", theme="success", fill="none"}={})
    - var classes = [`button--size--${size}`, `button--${theme}`, `button--${fill}`]
    button.button.ripple.js-ripple(class=classes)=text
