mixin button(text, theme)
  - var classes = []
  if theme
    - var classes = [theme.size, theme.purpose, theme.fill].filter(i => i).map(i => 'button--' + i)

  .button.mdc-ripple-surface(class=classes)=text
