
dark-green = #28a290
medium-green = #4eb7a8
text-green = #44ae9f

medium-red = #e75735
dark-red = #bf3e1f
text-red = #e34a26

.button
  --thecolor : medium-green
  cursor pointer
  box-sizing border-box
  height 32px
  line-height: 35px
  padding: 0 32px
  border-radius 3px
  display inline-block
  user-select: none
  letter-spacing .5px
  font-size 12px
  font-weight bold
  text-transform uppercase
  position relative
  border 1px solid var(--thecolor)
  color text-green
  box-shadow 0 4px 0 0 dark-green
  background-color transparent
  &:hover
    background-color var(--thecolor)
    color white
    box-shadow 0 3px 0 0 dark-green
    border 1px solid var(--thecolor)
  &:active
    box-shadow 0 0px 0 0 transparent !important
  &--size--small
    height 22px
    line-height: 22px
    font-size 10px
    padding: 0 16px
    box-shadow 0 2px 0 0 dark-green
    
  &--fill--filled
    background-color var(--thecolor)
    color white !important
    width 100%

  &--theme--error
    --thecolor : medium-red
    color text-red
    border-color var(--thecolor)
    box-shadow 0 4px 0 0 dark-red
    &:hover
      background-color var(--thecolor)
      color white
      box-shadow 0 3px 0 0 dark-red
      border 1px solid var(--thecolor)
    
  &--size--small&--theme--error
    box-shadow 0 2px 0 0 dark-red
    

.ripple 
  position: relative;
  overflow: hidden;

  &__container 
    position absolute
    top      0
    right    0
    bottom   0
    left     0

  &__rippler
    transform        scale(0)
    border-radius    100%
    position         absolute
    opacity          0.75
    background-color #fff
    animation        ripple 1000ms

@keyframes ripple
  to
    opacity   0
    transform scale(2)


  
  