mixin button(text, {size="big", theme="success", fill="none"}={})
    - var classes = []
    if size 
        - classes.push(`button--size--${size}`)
    if theme
        - classes.push(`button--theme--${theme}`)
    if fill
        - classes.push(`button--fill--${fill}`)

    button.button.ripple.js-ripple(class=classes)=text
