section.piechart-section
    h1.piechart-section__header.section-header percentages / pie chart
    .piechart-section__body
        div.piechart-section__element-container
            +percentage(0)
        div.piechart-section__element-container
            +percentage(38)
        div.piechart-section__element-container
            +percentage(62)
        div.piechart-section__element-container
            +percentage(89)
        div.piechart-section__element-container
            +donut([[100, "#747474"], [400, "#e75735"], [500, "#4eb7a8"], [400, "#e5e5e5"]]) 