.piechart-section
  &__header
    margin-bottom 20px
  &__body
    padding-left 54px
  &__element-container
    display inline-block
    &:nth-of-type(2)
      margin-left 12px
    &:nth-of-type(3)
      margin-left 32px
    &:nth-of-type(4)
      margin-left 31px
    &:nth-of-type(5)
      margin-left 24px