section.piechart-section
    h1.piechart-section__header
        +section-header("percentages / pie chart") 
    .piechart-section__body
        div.piechart-section__element-container
            +percentage(0)
        div.piechart-section__element-container
            +percentage(38)
        div.piechart-section__element-container
            +percentage(62)
        div.piechart-section__element-container
            +percentage(89)
        div.piechart-section__element-container
            +donut([[159, "#747474"], [370, "#e75735"], [420, "#4eb7a8"], [460, "#e5e5e5"]]) 