.profile
  display flex
  align-items center
  
  &__head
    height 5.8125rem
    width: 5.8125rem
    display inline-block
    border-radius 50%
    overflow hidden
    border .3125rem solid var(--light-grey)
    
  &__story
    flex 1
    width 10.1875rem
    display inline-block
    text-align center
    padding .7125rem 1.875rem 1rem
    background-color var(--light-grey)
    border-radius .35rem
    position relative
    margin-left .75rem
    color #4f4f4f
  &__bubble-tail
    position absolute
    top calc(50% - .75rem)
    left -.5625rem
    fill var(--light-grey)
  &__name
    font-size 1.125rem
    &:hover
      color var(--main-color)
    
  &__profession
    text-transform uppercase
    font-size .6875rem
    font-weight bold

  &__social-icons
    height 1.25rem
    margin-top .875rem
    margin-left .4375rem
    display flex
    justify-content space-between
    
  &__social-icon
    height 1.25rem
    fill #4f4f4f
    &:hover
      fill var(--main-color) 
      
.profile__head:hover + .profile__story
  background-color var(--support-color)
  color white
  .profile__bubble-tail
    fill var(--support-color)
  .icon
    fill white
    
    
   
      
