mixin profile(opts)
    .profile
        include ./icons.svg.pug
        .profile__head
            img(src=opts.image, alt=opts.name || "userpic")
        .profile__story
            .profile__name=opts.name
            .profile__profession=opts.profession

            .profile__social-icons
                a(href="")
                    svg(viewBox="0 0 22.45 48.31").icon
                        use(href="#facebook")
                a(href="") 
                    svg(viewBox="0 0 49.26 40.04").icon
                        use(href="#twitter")
                a(href="") 
                    svg(viewBox="0 0 49.44 49.44").icon
                        use(href="#dribble")
            .profile__bubble-tail
                svg( transform="rotate(-90)"  width="13px" height="6px")
                    use(href="#bubble-tail" )

