include /src/components/button/button.pug
include /src/components/arrow-button/arrow-button.pug
include /src/components/percentage/percentage.pug
include /src/components/donut/donut.pug
include /src/components/slider/slider.pug
include /src/components/stage/stage.pug
include /src/components/tickbox/tickbox.pug
include /src/components/input/input.pug
include /src/components/textarea/textarea.pug
include /src/components/toggle/toggle.pug
include /src/components/search/search.pug
include /src/components/dropdown/dropdown.pug
include /src/components/profile/profile.pug
include /src/components/news/news.pug
include /src/components/event/event.pug
include /src/components/location/location.pug
include /src/components/calendar/calendar.pug
include /src/components/messaging/messaging.pug
include /src/components/video/video.pug

