doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel="stylesheet", href="styles.css")
        title Document
        - var lorem="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.";
        - var lorem1="Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
        
        include components.pug
        

    body
        .wrapper
            .wrapper__buttons
                include buttons-section/buttons-section.pug
            .wrapper__arrows
                include arrows-section/arrows-section.pug
            .wrapper__piecharts 
                include piecharts-section/piecharts-section.pug
            .wrapper__sliders
                include sliders-section/sliders-section.pug
            .wrapper__stages
                include stages-section/stages-section.pug    
            .wrapper__form-elements
                include form-elements-section/form-elements-section.pug 
            .wrapper__dropdowns
                include dropdowns-section/dropdowns-section.pug
            .wrapper__profile
                include profiles-section/profiles-section.pug
            .wrapper__news
                include news-section/news-section.pug
            .wrapper__location
                include location-section/location-section.pug
            .wrapper__calendar
                include calendar-section/calendar-section.pug
            .wrapper__messaging
                include messaging-section/messaging-section.pug
            .wrapper__video
            section.video-section
                h1.section-header video
                .video-section__body
                    +video({src:"http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", poster:"../images/city.jpg", first:true})
        script(src='./app.js')
        
