:root
  --main-color  #e75735
  --support-color  #4eb7a8
  --light-grey  #e5e5e5
  --dark-grey  #747474
  --text-light #9d9d9d
  --text-dark #4f4f4f
mobile-break = 480px

@require 'components.styl'
@require 'buttons-section/buttons-section.styl'
@require 'arrows-section/arrows-section.styl'
@require 'piecharts-section/piecharts-section.styl'
@require 'sliders-section/sliders-section.styl'
@require 'stages-section/stages-section.styl'
@require 'form-elements-section/form-elements-section.styl'
@require 'dropdowns-section/dropdowns-section.styl'
@require 'profiles-section/profiles-section.styl'
@require 'news-section/news-section.styl'

img
  max-width 100%
  max-height 100%
  display inline-block

*
  box-sizing border-box
  font-family "Lato"
h1,h2 
  font-size 1em

  
.wrapper 
  margin 4.25rem auto 0
  max-width 45rem
  &__arrows
    padding-top 2.6875rem
  &__piecharts
    padding-top 2rem
  &__sliders
    padding-top .9375rem
  &__stages
    padding-top 2.6875rem
  &__form-elements
    padding-top 2.5rem
    width 83%
    margin 0 auto
  &__dropdowns
    padding-top 2.5rem
    padding-left 3.82rem
    width 100%
    display inline-block
    vertical-align top
    @media (min-width: mobile-break)
      width 21.85rem
  &__profile
    display inline-block
    padding-top: 3.1rem;
    padding-left: 2.25rem;
    width: 21.85rem;
  &__news
    padding-top 4.8rem
.section-header
  text-align: center
  text-transform uppercase
  color #4f4f4f
  font-size 1.2rem
  width 100%
  letter-spacing .4px
  
.section-header--small
  margin 1.25rem 0




  
.location-section
  width 100%
  height 272px
  
.calendar-section
.messaging-section
  display inline-block
  vertical-align top
  margin-top 4rem
  @media (min-width: mobile-break)
    width 50%
  > div
    margin 0 auto

.video-section__body
  height 400px
  & > * 
    margin 0 auto
    