mixin location({ lat=.28, lng=110.24 })
    .location
        .location__actual.js-location( data-lat=lat, data-lng=lng )
        .location__bar
            .location__message Meet us!
            .location__address
                .location__address-line-1
                    span.js-location__address1
                    span.js-location__address2
                .location__address-line-2
                    span.js-location__address3
                    span.js-location__address4
            .location__controls
                .location__icon
                    include /src/components/location/target-icon.svg
                .location__icon.location__icon--marker
                    include /src/components/location/marker-icon.svg