mixin location({ lat=.28, lng=110.24 })
    .location
        .location__actual.js-location( data-lat=lat, data-lng=lng )
        .location__bar
            .location__message Meet us!
            .location__address
                div
                    span.js-location__address1
                    span.js-location__address2
                div
                    span.js-location__address3
                    span.js-location__address4
            .location__controls
                .location__icon
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 270 270')
                        g(fill="none" stroke="#fff" stroke-width='20' )
                            circle(cx=135 cy=135 r=95  )
                            path(d="M 0, 135 h 100 M 135, 0 v 100 M 175, 135 h 100 M 135, 175 v 100")

                .location__icon
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 180 240' height="100%")
                        g(fill="#fff")
                            mask(id="circle-mask")
                                rect(x=0 y=0 width=300 height=300 fill="#fff")
                                circle(cx=90 cy=80 r=30 fill="#000")
                            path(d="M 90 10 C 180 20, 200 110, 90 230 C -20 110, 0 20, 90 10" mask="url(#circle-mask)")