mixin location()
  .map
    .map__actual.js-map
    .map__bar
      .map__message Meet us!
      .map__address
        div
          span.js-address1
          span.js-address2
        div
          span.js-address3
          span.js-address4
      .map__controls
        .map__icon
        .map__icon