.news-section
  padding-top 79px
  padding-left 6px
  
  &__header
    margin-bottom 30px
    section-header()
    
  &__body
    display grid
    grid-gap 20px
    justify-content: center;  
    @media (min-width: mobile-break)
      grid-template-columns 288px 288px