.news-section
  &__head
    margin-bottom 1.6em
    
  &__body
    display grid
    grid-gap 20px
    justify-content: center;  
    @media (min-width: mobile-break)
      grid-template-columns 288px 288px