.page
  font-family Lato
  min-height 100vh
  display grid
  grid-template-rows: min-content min-content auto auto;
  &__header
    margin 0 auto
    max-width: $max-width
  &__content
    margin 2rem auto 1rem
    max-width: $max-width
  &__menu
    width 100%
    margin 0 auto
    max-width: $max-width
  &__footer
    background-color black
    width 100% !important
    max-width 100%
    align-self end
    