pads = 23px

.messaging
  --color1 : var(--main-color)
  --color2 : var(--support-color)
  width 288px
  border-radius 4px
  overflow hidden
  &&--inverse
    --color2 : var(--main-color)
    --color1 : var(--support-color)
  &__title
    line-height 100%
    font-size 34px
    color white
    font-weight 300
    height 118px
    background-color var(--color2)
      
      

  &__title-text
    padding-top 22px
    letter-spacing -1.5px
    text-align center
    
      
  &__icons
    width 100%
    height 34px
    background-color rgba(0,0,0,.2)
    margin-top: -35px;
    display flex
    justify-content space-between
    align-items flex-end
    padding 0 28px
    vertical-align bottom

  &__icon
    margin-bottom -45px
    fill var(--dark-grey)
    cursor pointer
    &:hover
      fill var(--color1)
      
  &__head-icon
    height 93px
    width: 93px
    display inline-block
    border-radius 50%
    overflow hidden
    background-color var(--dark-grey)
    border 5px solid var(--light-grey)
  &__incoming-message
    padding 15px 20px 22px
    background-color white
    border-radius 4px
    font-size 12px
    font-weight 400
    margin-top 15px
    color var(--text-dark)
    position relative
  &__incoming-message-text
    letter-spacing 1px
  &__outgoing-message
    height 90px 
    border 3px solid white
    border-radius 4px 
    background-color #e5e5e5
    padding-top 7px
    padding-left 4px

  &__body
    padding 48px pads 26px
    background-color #f2f2f2
  &__form 
    margin-top 17px
  &__button
    margin-top 15px
  &__bubble-tail
    fill white
    position absolute
    top -5px
    left calc(50% - 7px)

    