.tickbox
  height 23px
  display inline-block
  vertical-align middle  
  
  &__label
    display inline-block
    border-radius 50%
    width 23px
    height 23px
    background-color var(--light-grey)
    cursor pointer
      
  &__mark
    stroke var(--dark-grey)
    
  &__input
    display none
    
    &:checked + ^[0]__label
      background-color var(--support-color)
      
      .tickbox__mark
        stroke white
