.site-head
  display grid
  height 10rem
  align-items center
  @media (min-width: $break)
    grid-template-columns 2fr 1fr
    grid-template-rows 1fr 1fr
    
  &__time 
    align-self end
    
  &__phone
    align-self start
    text-decoration none
    color black
    font-size calc(var(--logo-font-basic) * 2px)
    
    &:visited,
    &:active
      color black
  
  &__logo
      grid-row span 2
      
  &__logo-title
    font-size calc(var(--logo-font-basic) * 2.5px)
    font-weight 300
    white-space nowrap

  &__logo-subtitle
    font-size calc(var(--logo-font-basic) * 0.625px)
    text-transform uppercase
    letter-spacing calc(var(--logo-font-basic) * 1.1875px)
    font-weight 600
    white-space nowrap