mixin site-head()
    .site-head
        .site-head__logo.logo 
            .site-head__logo-title Частный мастер
            .site-head__logo-subtitle честные цены
        .site-head__time Ежедневно с 9.00 до 22.00
        a(href="tel:+79039130361").site-head__phone
            | +7 (903) 913-03-61