
.index-page
  padding-top 1.5rem
  @media (min-width : $break)
    grid-template-columns 1fr 1fr
  &__introduction
    padding-top 1.5rem
  &__sales-area
    padding-top 2rem
    @media (min-width : $break)
      display grid
      grid-gap 20px
      @media (min-width : $break)
        grid-template-columns 1fr 1fr
  &__prices-area
    padding-top 4rem
    @media (min-width : $break)
      grid-column 1 / span 2
  &__services-area
    padding-top 4rem
    @media (min-width : $break)
      grid-column 1 / span 2
   

    
  

    
