extends layout.pug

block includes
    title About us 
    include /src/components/profile/profile.pug

block content
    div.aboutus-page__description
        .aboutus-page__copy
            p.aboutus-page__paragraph На данном сайте я предлагаю профессиональные услуги своей бригады по ремонту и внутренней отделке любых квартир, отдельных комнат, санузлов под ключ и отдельные виды работ от установки дверей до замены электропроводки.
            p.aboutus-page__paragraph Началом своей трудовой деятельности в городе Томске считаю далёкий 1993 год. Это были времена так называемых "евроремонтов", так что мой личный опыт работы более двадцати лет.
        div.aboutus-page__list-container
            h3 Почему с нами выгодно работать?
            ul.aboutus-page__list
                li.aboutus-page__item Мы не "раскручиваем" клиента на дополнительные  и не нужные виды работ, так как знаем цену заработанным деньгам и работой обеспечены ВСЕГДА.
                li.aboutus-page__item Чётко знаем что мы делаем и зачем это нужно.
                li.aboutus-page__item Никогда не переделываем свою работу и в этом вы можете убедиться сами.
                li.aboutus-page__item Низкие цены на услуги обеспечены отсутствием каких либо посредников между заказчиком и исполнителем.
                li.aboutus-page__item Предоставляем хорошие скидки на закупку отделочных материалов в строительных магазинах города.
                li.aboutus-page__item Работаем с менеджерами продаж напрямую, что является отличным бонусом для наших клиентов.

        p.aboutus-page__paragraph Наш девиз: "Частный мастер - честные цены"

    .aboutus__profiles

            +profile({image:"images/master.jpg", name:"Тимофей", profession:"мастер, стаж 23 года"})

            +profile({image:"images/svarnoy-professional.jpg", name:"Иван", profession:"сварщик, стаж 17 лет"})

            +profile({image:"images/otdelochnik-universal.jpg", name:"Сергей", profession:"отделочник, стаж 23 года"})
