extends layout.pug

block includes
    title About us 
    include /src/components/profile/profile.pug
    include /src/demo/site.blocks/text-and-list/text-and-list.pug 
    - let { aboutusPage: {introductionText, introductionList} } = loadJson('./src/demo/data.json');
block content
    .aboutus-page
        .aboutus-page__description
            +text-and-list(introductionText, introductionList)

        .aboutus-page__profiles

                +profile({image:"images/master.jpg", name:"Тимофей", profession:"мастер, стаж 23 года"})

                +profile({image:"images/svarnoy-professional.jpg", name:"Иван", profession:"сварщик, стаж 17 лет"})

                +profile({image:"images/otdelochnik-universal.jpg", name:"Сергей", profession:"отделочник, стаж 23 года"})
