extends layout.pug



block includes
        title Main 
        include /src/components/news/news.pug 
        include /src/components/event/event.pug 
        include /src/demo/site.blocks/text-and-list/text-and-list.pug 
        include /src/demo/site.blocks/advertised-prices/advertised-prices.pug 
        include /src/demo/site.blocks/advertised-services/advertised-services.pug 
        - 
            let { indexPage: {
                    introductionText, 
                    introductionList, 
                    salesOffers, 
                    advertisedPrices,
                    advertisedServices}
                } = loadJson('./src/demo/data.json');

block content
    .index-page
        h1.index-page__title Ремонт квартир в Томске 
        .index-page__introduction
            +text-and-list(introductionText, introductionList)
        .index-page__sales-area
            .index-page__sales-offer 
                 +news({image:salesOffers[0].image, title: salesOffers[0].title, date: salesOffers[0].date, copy: salesOffers[0].copy})
            .index-page__sales-offer
                 +news({image:salesOffers[1].image, title: salesOffers[1].title, date: salesOffers[1].date, copy: salesOffers[1].copy})

        .index-page__prices-area
            h2.index-page__prices-title Цены ремонта квартир под ключ
            .index-page__prices-body
                +advertised-prices(advertisedPrices)

        .index-page__services-area
            h2.index-page__services-area-title Мы готовы выполнить любые ремонтно-отделочные услуги:
            .index-page__services-area-body
                +advertised-services(advertisedServices)
            