extends layout.pug

block includes
        title Photos 
        include /src/components/video/video.pug
        include /src/components/arrow-button/arrow-button.pug
        include /src/demo/site.blocks/photo-grid/photo-grid.pug
        - 
            let { photoPage: {photoList} } = loadJson('./src/demo/data.json');

block content
    h1 Ремонт квартир в Томске - фото 
    h2 Фото и видео наших работ по ремонту и отделке квартир в Томске
    .video_container
        .video_env
            +video({src:"http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", poster: "images/11.jpg", first:true})
        .video_env
            +video({src:"http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", poster: "images/12.jpg"})
        .video_env
            +video({src:"http://clips.vorwaerts-gmbh.de/VfE_html5.mp4", poster: "images/13.jpg"})

    .photos
        +photo-grid(photoList)
    