extends layout.pug

block includes
    title Registration
    include /src/components/arrow-button/arrow-button.pug
    include /src/components/form-elements/input.pug
    include /src/components/form-elements/textarea.pug
    include /src/components/form-elements/tickbox.pug
    include /src/components/form-elements/toggle.pug
    include /src/components/dropdown/dropdown.pug
    include /src/components/stage/stage.pug

        
block content
    h1 Регистрация 
    div.registration
        .registration__stage
            +stage(1,3)
        h2.registration__title Заполните заявку и станьте мастером!
        form.registration__form
            .form__input-group
                label.form-group__wrapper имя
                    +input()
            .form__input-group
                label.form-group__wrapper e-mail
                    +input()
            .form__input-group.registration__arrows
                +arrow-button('left', false)
                a(href="./registration2.html").registration__arrow-anchor
                    +arrow-button('right', true)



        
