section.arrows-section
    h1.arrows-section__header.section-header Arrow buttons
    .arrows-section__body
            +arrow-button('left', true)
            +arrow-button('right', true)
            +arrow-button('left', false)
            +arrow-button('right', false)
            +arrow-button('left', true)
            +arrow-button('right', true)