.arrows-section  
  padding-top 2.6875rem 
  &__body
    margin 0 auto
    display flex
    justify-content space-between
    margin-top 2rem
    text-align center
    flex-wrap wrap
    @media (min-width: mobile-break)
      width 58.3%
      
  &__header
    section-header()
    
  &__item
    width 100%
    @media (min-width: mobile-break)
      width auto