extends ../layout.pug

block includes
    title Registration
    include /src/demo/site.blocks/registration/registration.pug

block content
    h1 Регистрация 
    +registration(3, "Последний рывок!")
        
