extends ../layout.pug

block includes
    title Registration
    include /src/components/arrow-button/arrow-button.pug
    include /src/components/form-elements/input.pug
    include /src/components/form-elements/textarea.pug
    include /src/components/form-elements/tickbox.pug
    include /src/components/form-elements/toggle.pug
    include /src/components/dropdown/dropdown.pug
    include /src/components/stage/stage.pug
    include /src/components/slider/slider.pug
    include /src/demo/site.blocks/registration/registration.pug

        
block content
    h1 Регистрация 
    +registration(2, "Осталось всего два шага!")

