.calendar
  width 280px
  display: flex
  flex-direction column
  justify-content center
  align-items center
  
  &__head
    height 114px
    width 100%
    display flex
    font-weight 300
    align-items center
    justify-content center
    font-size 80px
    color white
    background-color var(--main-color)
    padding-top: 8px;
    
  &__footer
    height 49px
    width 100%
    font-size 13px
    text-transform uppercase
    color var(--text-dark)
    display flex
    align-items center
    color #868686
    padding-left 20px
    background-color var(--light-grey)
    padding-top: 5px;
    font-weight: bold;
    letter-spacing: 1.1px;


.ui-datepicker-inline
  width 100%
.ui-datepicker-header
  background-color #d54c2c
  position relative
  height 43px
  padding-top 17px
  font-weight 300
  font-size 24px
  color white
  line-height 0
.ui-datepicker-title
  text-align center
  

.ui-datepicker-prev
.ui-datepicker-next
  position absolute
  cursor pointer
  top 10px
  &:hover svg path
    stroke var(--support-color)
  
.ui-datepicker-prev
  left 6px  
  height 18px
  width 18px
.ui-datepicker-next
  right 8px
  top 12px
  height 18px
  width 18px
.ui-datepicker-year
  display none
  
  
.ui-datepicker-calendar
  border-collapse collapse
  background-color #f2f2f2
  th
    background-color var(--main-color)
    color white
    text-transform uppercase
    font-size .6rem
    padding-top: 4px;
    padding-bottom: 6px;
  td
    width: 40px
    height 40px
    border 1px solid white
    text-align center
    vertical-align middle
    &.ui-datepicker-other-month
      color white
    a
      display flex
      justify-content center
      align-items center
      width 100%
      height 100%
      text-decoration none
      color var(--text-light)
      &.ui-state-active
        background-color var(--main-color)
        color white
      &:hover
        background-color var(--support-color)
        color white
      
