mixin calendar()
    .calendar.js-calendar
        svg(viewBox="0 0 54 54" width=0 height=0 )
            defs()
                g(class="arrow-icon")
                    path(d="M2,2 l11, 11 l-11, 11" stroke="#fff" fill='transparent' stroke-width='4px')
        .calendar__head 24
        .calendar__footer.js-calendar-today today