mixin stages-section()
    section.stages-section
        h1.stages-section__header
          +section-header("Stages") 
        .stages-section__body
            .stages-section__element-container
                +stage(3, 5)