include ../buttons-section/buttons-section.pug
include ../arrows-section/arrows-section.pug
include ../piecharts-section/piecharts-section.pug
include ../sliders-section/sliders-section.pug
include ../stages-section/stages-section.pug
include ../form-elements-section/form-elements-section.pug
include ../dropdowns-section/dropdowns-section.pug
include ../profiles-section/profiles-section.pug
include ../news-section/news-section.pug
include ../location-section/location-section.pug
include ../calendar-section/calendar-section.pug
include ../messaging-section/messaging-section.pug
include ../video-section/video-section.pug

.wrapper
    .wrapper__buttons
        +buttons-section()
    .wrapper__arrows
        +arrows-section()
    .wrapper__piecharts 
        +piecharts-section()
    .wrapper__sliders
        +sliders-section()
    .wrapper__stages
        +stages-section()    
    .wrapper__form-elements
        +form-elements-section() 
    .wrapper__dropdowns
        +dropdowns-section()
    .wrapper__profile
        +profiles-section()
    .wrapper__news
        +news-section()
    .wrapper__location
        +location-section()
    .wrapper__calendar
        +calendar-section()
    .wrapper__messaging
        +messaging-section()
    .wrapper__video
        +video-section()