extends layout.pug

block includes
  title About us 
  include /src/components/profile/profile.pug

block content
  div.
    На данном сайте я предлагаю профессиональные услуги своей бригады по ремонту и внутренней отделке любых квартир, отдельных комнат, санузлов под ключ и отдельные виды работ от установки дверей до замены электропроводки.

    Началом своей трудовой деятельности в городе Томске считаю далёкий 1993 год. Это были времена так называемых "евроремонтов", так что мой личный опыт работы более двадцати лет.
    Почему с нами выгодно работать?

    Мы не "раскручиваем" клиента на дополнительные  и не нужные виды работ, так как знаем цену заработанным деньгам и работой обеспечены ВСЕГДА.
    Чётко знаем что мы делаем и зачем это нужно.
    Никогда не переделываем свою работу и в этом вы можете убедиться сами.
    Низкие цены на услуги обеспечены отсутствием каких либо посредников между заказчиком и исполнителем.
    Предоставляем хорошие скидки на закупку отделочных материалов в строительных магазинах города.
    Работаем с менеджерами продаж напрямую, что является отличным бонусом для наших клиентов.

    Наш девиз: "Частный мастер - честные цены"
  div
    +profile({image:"/images/master.jpg", name:"Тимофей", profession:"мастер, стаж 23 года"})
  div
    +profile({image:"/images/svarnoy-professional.jpg", name:"Иван", profession:"сварщик, стаж 17 лет"})
  div
    +profile({image:"/images/otdelochnik-universal.jpg", name:"Сергей", profession:"отделочник, стаж 23 года"})
