.aboutus-page__description
  display grid
  grid-gap 20px
  grid-template-columns repeat(auto-fill, minmax(500px, 1fr)) 
  
.aboutus-page
  &__list
    list-style square
    margin-left: 1.5rem 
  
  &__item
    font-style italic
    margin-bottom .6rem

.aboutus__profiles
  margin-top 2rem
  display grid
  grid-gap 20px
  grid-template-columns repeat(auto-fill, minmax(300px, 1fr ))
