


.index-page
  grid-template-columns 2fr 1fr
  &__sales-area
    grid-column span 2
    &-body
      display grid
      grid-template-columns 1fr 1fr
      grid-gap 20px
  &__prices-area
    grid-column-start 1
  &__services-area
    grid-column-start 1 
  &__prices-area
    grid-column-start 1
