doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="../styles.css")
    link(rel="stylesheet", href="./styles.css")
    title Renovation 

body
  header
    .logo частный мастер
    .phone +7 (903) 913-03-61
    .time Ежедневно с 9.00 до 22.00

  menu
    ul
      li 
        a(href=".") Главная
      li Виды услуг
      li 
        a(href="./photos.html") Фото работ
      li Цены
      li Акции
      li О нас
      li Отзывы
      li Контакты


  main
    h1 Ремонт квартир в Томске 
    p.
      Предлагаем профессиональный ремонт квартир в Томске.

      В нашей слаженной бригаде "Дом и Мастер" - только порядочные и квалифицированные отделочники по всем видам ремонтных работ.
      Успех нашей команды держится на профессионализме и стремлении не запятнать репутацию ответсвенных и надёжных мастеров.

      На протяжении многолетних трудов мы ни разу не отступали от своих принципиальных позиций - выполнять все работы по ремонту квартир качественно и в срок!

      Нашими потенциальными клиентами являются как деловые люди, так и заказчики бюджетной категории, желающие получить качественные услуги, при этом не переплачивая посредникам.

    h2 Преимущества
      ul
      li  Работаем сами;
      li  Без предоплаты;
      li  Личный опыт - 20 лет;
      li  Коллектив не курящий;
      li  Скидки на строительные материалы до 20%;
      li  Даём гарантию на весь ремонт.
    h2 Цена
      ul
        li 
          h3 косметический ремонт
          img(src='/images/1.png')
          p.
            Стоимость - от 900 руб.за м2 по полу. В работу входит замена настенных и напольных покрытий с частичным исправлением дефектов поверхностей, замена плитки в санузлах, шпаклевание потолка с последующей окраской.
        li 
          h3 капитальный ремонт
          img(src='/images/2.jpg')
          p.
            Цены начинаются от 2500 руб./м. кв. В квартире производится частичная перепланировка, ремонт электрики, разводки водоснабжения и канализации - сантехнические работы, монтаж многоуровневых потолков и элементов декора.
        li 
          h3 евроремонт (элитный)
          img(src='/images/3.png')
          p.
            Цены уже от 5000 руб./м. кв. Отделка проводится следуя утвержденному проекту, с применением эксклюзивных материалов. Весь комплекс ремонтных работ, включая демонтаж перегододок с перепланировкой помещений.
    h2 Мы готовы выполнить любые ремонтно-отделочные услуги:
      ul 
        li
          .title ШТУКАТУРКА, ШПАКЛЕВКА, ПОКРАСКА
          img(src='/images/shtukaturnye-maljarnye-raboty.jpg')
        li
          .title МОНТАЖ КОСТРУКЦИЙ ИЗ ГИПСОКАРТОНА
          img(src='/images/montazh_gipsokartona.jpg')
        li
          .title ПЛИТОЧНЫЕ РАБОТЫ, РЕМОНТ ВАННОЙ
          img(src='/images/remont-vannoj.jpg')
        li
          .title ПОКЛЕЙКА ОБОЕВ
          img(src='/images/poklejka-oboev.jpg')
        li
          .title УКЛАДКА ЛАМИНАТА
          img(src='/images/ukladka-laminata.jpg')
        li
          .title ЭЛЕКТРОМОНТАЖ
          img(src='/images/jelektro-montazhnye-raboty.jpg')

  footer.
          Copyright ©2004-2018
          Томск
          8 (903) 913-03-61
  script(src='./app.js')
