
*
  margin 0
  padding 0
  box-sizing border-box
h1,h2
  font-weight 300
p
  margin-bottom .6rem
ul
  list-style none
body
  font-family Lato
body > * 
  margin 0 auto
  max-width: 1100px
img
  max-height 100%
  max-width: 100%;
  object-fit cover
.page-content
    margin-top 2rem
    margin-bottom 2rem
.menu
  margin-top 2rem
  &__container
    display grid
    grid-gap 10px
    grid-template-columns repeat(auto-fill, minmax(150px, 1fr))
    @media (min-width 900px)
      display flex
      flex-wrap wrap
      justify-content space-between
      
  &__item 
    display grid
    grid-template-rows 1fr 2px
    justify-content start
    align-items center
    margin-right 20px
    a
      font-size 1.4rem  
      font-weight 400
      text-decoration: none
      color black
      display inline-block
      
      &:after
        content  ""
        display block
        height 1px
        width 100%
        transform scaleX(0)
        place-self: start center;
        background var(--text-dark)
        transition .2s ease-in-out
      &:hover:after
        transform scaleX(1)
      
    
.header 
  display grid
  height 10rem
  align-items center
  @media (min-width: $break)
    grid-template-columns 2fr 1fr
    grid-template-rows 1fr 1fr
  &__time 
    align-self end
  &__phone
    align-self start
    text-decoration none
    color black
    font-size calc(var(--logo-font-basic) * 2px)
    &:visited,
    &:active
      color black
  
.logo
    grid-row span 2
.logo__title
  font-size calc(var(--logo-font-basic) * 2.5px)
  font-weight 300
  white-space nowrap

.logo__subtitle
  font-size calc(var(--logo-font-basic) * 0.625px)
  text-transform uppercase
  letter-spacing calc(var(--logo-font-basic) * 1.1875px)
  font-weight 600
  white-space nowrap


  
.footer
  background-color black
  width 100% !important
  max-width 100%

.footer__wrapper
  display grid
  grid-auto-rows minmax(300px, auto)
  grid-template-columns 1fr 1fr
  @media (min-width: $break)
    grid-template-columns 2fr 1fr 1fr
  grid-gap 20px
  color white
  max-width 1100px
  margin 0 auto
  padding 4rem 0 8rem
.footer__map
  grid-column span 2
  @media (min-width: $break)
    grid-column span 1
.footer__input-group
  margin-top 10px
  label
    line-height 133%
.footer__contact-data
  line-height 160%
  font-size 14px
.footer__contact-item
  margin-bottom 2rem
  dt
    font-weight 600
  dd 
    font-size 1rem
