extends layout.pug

block includes
        title Photos 
        include /src/components/video/video.pug
        include /src/components/arrow-button/arrow-button.pug
        
block content
    h1 Ремонт квартир в Томске - фото 
    h2 Фото и видео наших работ по ремонту и отделке квартир в Томске
    .video_container
        .video_env
            +video({src:"https://r1---sn-8ph2xajvh-3xwe.googlevideo.com/videoplayback?initcwndbps=1033750&lmt=1518270159984663&ipbits=0&expire=1530540584&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpcm2cms%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&nh=%2CEAU&pcm2cms=yes&mime=video%2Fmp4&key=yt6&signature=3B5A3910A6AD0F708212B1A4854091A658B033ED.A42B5A6B26F55DA6B6DE3595381595E089C4E3&c=WEB&ei=yN05W6aLHtnz7ASlgJvADQ&ratebypass=yes&fvip=8&source=youtube&itag=22&mm=31%2C29&pl=22&mn=sn-8ph2xajvh-3xwe%2Csn-bvvbax-v8cz&id=o-AJtNH4175LPYFjp6YO1Q0RSwqL3i-zBmnzv8NSU38CpQ&dur=63.065&requiressl=yes&mt=1530518800&mv=m&ms=au%2Crdu&fexp=23709359&ip=213.59.139.57", poster: ""})
        .video_env
            +video({src:"https://r3---sn-8ph2xajvh-3xwe.googlevideo.com/videoplayback?key=yt6&mime=video%2Fmp4&nh=%2CEAU&itag=22&signature=747245EDDECB804220BD7278E35815687E8874F6.5DD090694DC8E20078835AB73C1312709AB27DAD&initcwndbps=1191250&source=youtube&pcm2cms=yes&ei=R945W62MEMS67ASjk6K4Dg&c=WEB&requiressl=yes&ip=213.59.139.57&ms=au%2Crdu&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpcm2cms%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&lmt=1478768337345320&mv=m&pl=22&id=o-AJtf6PI_C4FCgLZWa-bz4EoW685KKCtkTj-6RMuBgio6&mn=sn-8ph2xajvh-3xwe%2Csn-bvvbax-v8ce&mm=31%2C29&mt=1530519040&fexp=23709359&dur=72.051&fvip=3&ipbits=0&expire=1530540711&ratebypass=yes", poster: ""})
        .video_env
            +video({src:"https://r3---sn-8ph2xajvh-3xwe.googlevideo.com/videoplayback?mv=m&dur=59.048&mt=1530519040&ms=au%2Crdu&ip=213.59.139.57&fexp=23709359&initcwndbps=1191250&mn=sn-8ph2xajvh-3xwe%2Csn-bvvbax-v8ce&c=WEB&ipbits=0&mm=31%2C29&id=o-AOuwZaVVzFykDHF5gLu82cqZ19UDefX5hLuB_6ZrYzct&nh=%2CEAU&itag=22&ei=e945W7O8O6vk7AT-t7PQBg&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpcm2cms%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&fvip=5&ratebypass=yes&signature=38CF4F5BA97D11E0EFD836C9A0AFDDEE2779139C.2E3696ABEFF0C8E4D8798BF6F1D62A7FDC3CFF2F&source=youtube&pcm2cms=yes&pl=22&mime=video%2Fmp4&key=yt6&lmt=1478758568797875&requiressl=yes&expire=1530540764", poster: ""})

    .photos
        .photos__grid.js-photos__grid
            li.photos__item(data-image="images/11.jpg")
                img(src="images/11.jpg", alt="")
            li.photos__item(data-image="images/12.jpg")
                img(src="images/12.jpg", alt="")
            li.photos__item(data-image="images/13.jpg")
                img(src="images/13.jpg", alt="")
            li.photos__item(data-image="images/14.jpg")
                img(src="images/14.jpg", alt="")
            li.photos__item(data-image="images/15.jpg")
                img(src="images/15.jpg", alt="")
            li.photos__item(data-image="images/11.jpg")
                img(src="images/11.jpg", alt="")
            li.photos__item(data-image="images/12.jpg")
                img(src="images/12.jpg", alt="")
            li.photos__item(data-image="images/13.jpg")
                img(src="images/13.jpg", alt="")
            li.photos__item(data-image="images/14.jpg")
                img(src="images/14.jpg", alt="")
            li.photos__item(data-image="images/15.jpg")
                img(src="images/15.jpg", alt="")
            li.photos__item(data-image="images/11.jpg")
                img(src="images/11.jpg", alt="")
            li.photos__item(data-image="images/12.jpg")
                img(src="images/12.jpg", alt="")
            li.photos__item(data-image="images/13.jpg")
                img(src="images/13.jpg", alt="")
            li.photos__item(data-image="images/14.jpg")
                img(src="images/14.jpg", alt="")
            li.photos__item(data-image="images/15.jpg")
                img(src="images/15.jpg", alt="")
            li.photos__item(data-image="images/11.jpg")
                img(src="images/11.jpg", alt="")
            li.photos__item(data-image="images/12.jpg")
                img(src="images/12.jpg", alt="")

        .big-image.js-big-image
            img()
            .controls
                +arrow-button('left', true)(class="arrrrr")
                +arrow-button('right', true)
    