extends layout.pug

block includes
    title Photos 
    include /src/components/video/video.pug
    include /src/components/arrow-button/arrow-button.pug
    
block content
  h1 Ремонт квартир в Томске - фото 
  h2 Фото и видео наших работ по ремонту и отделке квартир в Томске
  .video_container
    .video_env
      +video({src:"https://youtu.be/KxJ79Y-TwiQ", poster: ""})
    .video_env
      +video({src:"https://youtu.be/KxJ79Y-TwiQ", poster: ""})
    .video_env
      +video({src:"https://youtu.be/KxJ79Y-TwiQ", poster: ""})

  h2 Ремонт черновой квартиры на Савиных


  .glide
    .glide__track(data-glide-el='track')
      ul.glide__slides
        li.glide__slide
          img(src="/images/11.jpg", alt="")
        li.glide__slide
          img(src="/images/12.jpg", alt="")
        li.glide__slide
          img(src="/images/13.jpg", alt="")
        li.glide__slide
          img(src="/images/14.jpg", alt="")
        li.glide__slide
          img(src="/images/15.jpg", alt="")
        li.glide__slide
          img(src="/images/16.jpg", alt="")
        li.glide__slide
          img(src="/images/17.jpg", alt="")
        li.glide__slide
          img(src="/images/18.jpg", alt="")
        li.glide__slide
          img(src="/images/19.jpg", alt="")
    .glide__arrows(data-glide-el='controls')
      .glide__arrow.glide__arrow--left(data-glide-dir='<')
        +arrow-button('left', true)
      .glide__arrow.glide__arrow--right(data-glide-dir='>')
        +arrow-button('right', true)

  .carousel
    ul.carousel__list.js-carousel__list
      li.carousel__item
        img(src="/images/11.jpg", alt="")
      li.carousel__item
        img(src="/images/12.jpg", alt="")
      li.carousel__item
        img(src="/images/13.jpg", alt="")
      li.carousel__item
        img(src="/images/14.jpg", alt="")
      li.carousel__item
        img(src="/images/15.jpg", alt="")
      li.carousel__item
        img(src="/images/16.jpg", alt="")
      li.carousel__item
        img(src="/images/17.jpg", alt="")
      li.carousel__item
        img(src="/images/18.jpg", alt="")
      li.carousel__item
        img(src="/images/19.jpg", alt="")
    .carousel__controls
      +arrow-button('left', true)(class="arrrrr")
      +arrow-button('right', true)
