extends layout.pug

block includes
    title Prices

block content
      h1 Расценки, прайс лист на отделочные работы в Томске 2017 - 2018 год
      p.
        Цены на отделочные работы в Томске действительны при комплексной отделке квартир, либо хотя бы одного помещения в целом (комнаты, кухни, санузла)
        С увеличением объёма отделочных работ - расценки приятно уменьшаются! (цены на 2017 - 2018 год.) На некоторые виды работ действует специальная АКЦИЯ. Стоимость отделочных работ необходимо уточнять.
      h2 демонтаж
      table
        tbody
          tr
            td  цементной стяжки
            td м2
            td 135
          tr
            td  деревянного пола
            td м2
            td 190
          tr
            td  старого линолеума
            td м2
            td 30
          tr
            td  подоконной тумбы
            td шт.
            td 1800
          tr
            td  стен (перегородок) кирпичных
            td м2
            td 320
          tr
            td  керамической плитки
            td м2
            td 80
          tr
            td  обоев
            td м2
            td 30
          tr
            td  дверного блока
            td шт.
            td 150
          tr
            td  оконного блока
            td шт.
            td 350
          tr
            td  подоконника
            td шт.
            td 100

      h2 потолок
      table
        tbody
          tr
            td грунтовка потолка
            td м2
            td 15
          tr
            td штукатурка потолка
            td м2
            td 270
          tr
            td шпаклевка потолка в 1 слой
            td м2
            td 130
          tr
            td шпаклевка под стеклохолст
            td м2
            td 140
          tr
            td шпаклевка под покраску
            td м2
            td 180
          tr
            td покраска потолка в 1 слой
            td м2
            td 90
          tr
            td покраска потолков на 2 раза
            td м2
            td 115
          tr
            td поклейка флизелина
            td м2
            td 120
          tr
            td поклейка стеклохолста на потолок
            td м2
            td 100
          tr
            td монтаж потолка ГКЛ в 1 уровень
            td м2
            td 400
          tr
            td многоуровневый потолок
            td м2
            td от 450
          tr
            td подвесные системы амстронг
            td м2
            td 280
          tr
            td монтаж панелей пластик
            td м2
            td 350
          tr
            td монтаж коробов из ГКЛ
            td м.п.
            td 300
          tr
            td поклейка плинтуса потолочного
            td м.п.
            td 90
          tr
            td покраска потолочного плинтуса
            td м.п.
            td 40
      h2 стены
      table
        tbody
          tr
            td грунтовка стен
            td м2
            td 15
          tr
            td штукатурка стен
            td м2
            td 240
          tr
            td выравнивание примыканий
            td м.п.
            td 90
          tr
            td выравнивание углов
            td м.п.
            td 160
          tr
            td шпаклевка стен на 1 раз
            td м2
            td 120
          tr
            td шпаклевка на 2 слоя
            td м2
            td 200
          tr
            td монтаж стен из ГВЛ
            td м2
            td 340
          tr
            td монтаж перегородок из ГВЛ
            td м2
            td 420
          tr
            td монтаж перегородок кирпичных
            td м2
            td 450
          tr
            td поклейка стеклохолста
            td м2
            td 110
          tr
            td поклейка флизелина
            td м2
            td 110
          tr
            td поклейка обоев флизелиновых без подгонки рисунка
            td м2
            td 90
          tr
            td поклейка обоев флизелиновых с подгонкой рисунка
            td м2
            td 100
          tr
            td обои на бумажной основе без подгонки
            td м2
            td 100
          tr
            td обои на бумажной основе с рисунком
            td м2
            td 100
          tr
            td покраска стен в 1 слой
            td м2
            td 80
          tr
            td покраска стен в 2 слоя
            td м2
            td 120
          tr
            td утепление
            td м2
            td 100
          tr
            td монтаж откосов
            td м.п.
            td 350
          tr
            td установка подоконника
            td шт.
            td 500
          tr
            td монтаж коробов ГВЛ
            td м.п.
            td 280
          tr
            td монтаж панелей пластиковых
            td м2
            td 300
          tr
            td поклейка кафеля
            td м2
            td 420
          tr
            td затирка межплиточных швов
            td м2
            td 50
          tr
            td мозайка
            td м2
            td от 750
          tr
            td монтаж плинтуса потолочного
            td м.п.
            td 90
          tr
            td монтаж плинтуса полиуретан (с покраской)
            td м.п.
            td 130
          tr
            td покраска радиатора
            td шт.
            td 350
      h2 пол
      table
        tbody
          tr
            td грунтовка пола
            td м2
            td 10
          tr
            td устройство стяжки до 50 мм.
            td м2
            td 270
          tr
            td заливка нивелирки
            td м2
            td 85
          tr
            td поклейка керамической плитки
            td м2
            td от420
          tr
            td укладка ламината
            td м2
            td 150
          tr
            td настил линолеума
            td м2
            td 80
          tr
            td настил ковролина
            td м2
            td 120
          tr
            td монтаж плинтуса пластик
            td м.п.
            td 75
          tr
            td  
            td  
            td  
          tr
            td  
            td  
            td  
