extends layout.pug

block includes
    title Prices

block content
      h1.page-title Расценки, прайс лист на отделочные работы в Томске 2017 - 2018 год
      div.price-list-page__description
          p Цены на отделочные работы в Томске действительны при комплексной отделке квартир, либо хотя бы одного помещения в целом (комнаты, кухни, санузла)
          p С увеличением объёма отделочных работ - расценки приятно уменьшаются! (цены на 2017 - 2018 год.) На некоторые виды работ действует специальная АКЦИЯ. Стоимость отделочных работ необходимо уточнять.
      .price-lists-group
        .price-list.price-list--demolition
          h2.price-list__title демонтаж
          table.price-list__table
            tbody
              tr
                td  цементной стяжки
                td 135
                td м<sup>2</sup>
              tr
                td  деревянного пола
                td 190
                td м<sup>2</sup>
              tr
                td  старого линолеума
                td 30
                td м<sup>2</sup>
              tr
                td  подоконной тумбы
                td 1800
                td шт.
              tr
                td  стен (перегородок) кирпичных
                td 320
                td м<sup>2</sup>
              tr
                td  керамической плитки
                td 80
                td м<sup>2</sup>
              tr
                td  обоев
                td 30
                td м<sup>2</sup>
              tr
                td  дверного блока
                td 150
                td шт.
              tr
                td  оконного блока
                td 350
                td шт.
              tr
                td  подоконника
                td 100
                td шт.
        .price-list.price-list--floor
          h2.price-list__title пол
          table.price-list__table
            tbody
              tr
                td грунтовка пола
                td 10
                td м<sup>2</sup>
              tr
                td устройство стяжки до 50 мм.
                td 270
                td м<sup>2</sup>
              tr
                td заливка нивелирки
                td 85
                td м<sup>2</sup>
              tr
                td поклейка керамической плитки
                td от 420
                td м<sup>2</sup>
              tr
                td укладка ламината
                td 150
                td м<sup>2</sup>
              tr
                td настил линолеума
                td 80
                td м<sup>2</sup>
              tr
                td настил ковролина
                td 120
                td м<sup>2</sup>
              tr
                td монтаж плинтуса пластик
                td 75
                td м.п.
        .price-list.price-list--walls
          h2.price-list__title стены
          table.price-list__table
            tbody
              tr
                td грунтовка стен
                td 15
                td м<sup>2</sup>
              tr
                td штукатурка стен
                td 240
                td м<sup>2</sup>
              tr
                td выравнивание примыканий
                td 90
                td м.п.
              tr
                td выравнивание углов
                td 160
                td м.п.
              tr
                td шпаклевка стен на 1 раз
                td 120
                td м<sup>2</sup>
              tr
                td шпаклевка на 2 слоя
                td 200
                td м<sup>2</sup>
              tr
                td монтаж стен из ГВЛ
                td 340
                td м<sup>2</sup>
              tr
                td монтаж перегородок из ГВЛ
                td 420
                td м<sup>2</sup>
              tr
                td монтаж перегородок кирпичных
                td 450
                td м<sup>2</sup>
              tr
                td поклейка стеклохолста
                td 110
                td м<sup>2</sup>
              tr
                td поклейка флизелина
                td 110
                td м<sup>2</sup>
              tr
                td поклейка обоев флизелиновых без подгонки рисунка
                td 90
                td м<sup>2</sup>
              tr
                td поклейка обоев флизелиновых с подгонкой рисунка
                td 100
                td м<sup>2</sup>
              tr
                td обои на бумажной основе без подгонки
                td 100
                td м<sup>2</sup>
              tr
                td обои на бумажной основе с рисунком
                td 100
                td м<sup>2</sup>
              tr
                td покраска стен в 1 слой
                td 80
                td м<sup>2</sup>
              tr
                td покраска стен в 2 слоя
                td 120
                td м<sup>2</sup>
              tr
                td утепление
                td 100
                td м<sup>2</sup>
              tr
                td монтаж откосов
                td 350
                td м.п.
              tr
                td установка подоконника
                td 500
                td шт.
              tr
                td монтаж коробов ГВЛ
                td 280
                td м.п.
              tr
                td монтаж панелей пластиковых
                td 300
                td м<sup>2</sup>
              tr
                td поклейка кафеля
                td 420
                td м<sup>2</sup>
              tr
                td затирка межплиточных швов
                td 50
                td м<sup>2</sup>
              tr
                td мозайка
                td от 750
                td м<sup>2</sup>
              tr
                td монтаж плинтуса потолочного
                td 90
                td м.п.
              tr
                td монтаж плинтуса полиуретан (с покраской)
                td 130
                td м.п.
              tr
                td покраска радиатора
                td 350
                td шт.
        .price-list.price-list--ceiling
          h2.price-list__title потолок
          table.price-list__table
            tbody
              tr
                td грунтовка потолка
                td 15
                td м<sup>2</sup>
              tr
                td штукатурка потолка
                td 270
                td м<sup>2</sup>
              tr
                td шпаклевка потолка в 1 слой
                td 130
                td м<sup>2</sup>
              tr
                td шпаклевка под стеклохолст
                td 140
                td м<sup>2</sup>
              tr
                td шпаклевка под покраску
                td 180
                td м<sup>2</sup>
              tr
                td покраска потолка в 1 слой
                td 90
                td м<sup>2</sup>
              tr
                td покраска потолков на 2 раза
                td 115
                td м<sup>2</sup>
              tr
                td поклейка флизелина
                td 120
                td м<sup>2</sup>
              tr
                td поклейка стеклохолста на потолок
                td 100
                td м<sup>2</sup>
              tr
                td монтаж потолка ГКЛ в 1 уровень
                td 400
                td м<sup>2</sup>
              tr
                td многоуровневый потолок
                td от 450
                td м<sup>2</sup>
              tr
                td подвесные системы амстронг
                td 280
                td м<sup>2</sup>
              tr
                td монтаж панелей пластик
                td 350
                td м<sup>2</sup>
              tr
                td монтаж коробов из ГКЛ
                td 300
                td м.п.
              tr
                td поклейка плинтуса потолочного
                td 90
                td м.п.
              tr
                td покраска потолочного плинтуса
                td 40
                td м.п.



      

              
      
      

