.registration
  
  &__stage 
    margin 2rem 0
  &__form
  &__title
    max-width: 500px
    margin 0 auto
  &__arrows
    display flex
    justify-content space-between
    

.toggle-group label
  display flex
  align-items center