.service
  margin-top 2rem
  display grid 
  grid-template-columns 1.5fr 1fr
  grid-gap 20px
  &&--reverse
    .service__copy
      order 2
  &__title
    grid-column span 2
  &__copy
    order 0
  &__list-container
    order 1