extends layout.pug

block includes
    title Services 

block content
  h2 Шпаклевка покраска стен и потолков в Томске 
  ul
    li          Штукатурка стен с затиркой
    li          Выравнивание стен штукатуркой по маякам
    li          Ремонт и подготовка стен под обои

    li          Подготовка оштукатуренных стен под обои
    li          Шпаклевка под обои

    li          Шпаклевка под покраску
    li          Грунтовка
    li          Покраска стен в 1 слой
    li          Покраска в 2 слоя

  div.
    Подготовка стен под обои. Штукатурка, шпаклевка, покраска стен и потолков в Томске


    Подготовка стен под обои в Томске 
    В перечень наших услуг входит и такой вид работ, как предчистовая отделка. Производится выравнивание стен как полное оштукатуривание, так и частичное выравнивание углов и примыканий, что очень важно при монтаже потолка, плинтусов и багетов. Подготовка поверхности стен под оклейку обоями - это идеальное решение сэкономить деньги. В итоге вы получаете чистую, ровную и огрунтованную поверхность, на которую легко можно поклеить любые обои самостоятельно.

  div.
    Поклейка обоев
      Грунтовка поверхностей перед поклейкой обоев
      Поклейка обоев флизелиновых
      Поклейка бумажных обоев
      Наклейка обоев виниловых
      Оклейка стен всеми видами декоративных обоев
      Поклейка обоев в Томске по ценам от 130 руб. (95 руб. по акции) за (м2) квадратный метр.
      Предлагаем профессиональные услуги по наклейке обоев всех видов. Мастер с большим опытом быстро, аккуратно и очень качественно выполнит все виды ремонтных работ по выгодным ценам.
      Профессиональная поклейка обоев требует большого опыта мастеров. Разнообразие текстур и оттенков различных видов обоев способны удовлетворить капризы любого заказчика. В комбинации с различными элементами декора можно сотворить поистине неповторимый дизайн любого помещения. Специалисты нашей бригады Частный Мастер способны справиться с любой задачей.

  div.
    Монтаж потолков перегородок из гипсокартона в Томске 
    Монтаж перегородок и потолков
    Монтаж многоуровневых потолков из гипсокартона; 
    Устройство нишь из ГВЛ и ГКЛ с подсветкой;
    Обшивка стен листами гипсокартона по каркасу;
    Обшивка стен гипсокартоном по безкаркасной технологии;
    Звукоизоляция стен и перегородок;
    Гипсокартонные перегородки ГВЛ в 1 слой;
    Монтаж перегородок двухслойных;
    Монтаж двухсторонних и трёхсторонних коробов коробов;
    Монтаж потолочных криволинейных конструкций и перегородок.
    Применение конструкций из гипсокартона и ГВЛ. 
    Гипсокартонные потолки и перегородки в Томске не теряют своей актуальности на протяжении многих лет. Простота обработки и широкая сфера применения гипсокартона позволяет добиться поистине оригинальных решений в плане уникальности интерьера.
  div.
    Укладка керамической плитки, поклейка кафеля в Томске 
    облицовка керамической плиткой ванной комнаты
    Поклейка кафеля
    Укладка кафеля на пол
    Укладка кафельной плитки на стены
    Подготовка стен под поклейку плитки - зачистка, насечки, выравнивание стен, грунтовка
    Затирка швов с подбором колера
    Отверстия в кафельной плитке

    Плиточник в Томске 
    Укладка кафельной плитки в Томске по ценам от 450 руб. за квадратный метр (м2)
    Предлагаем профессиональную укладку кафельной плитки. Опытный мастер плиточник выполнит работу быстро и аккуратно.

    Для качественной поклейки керамической плитки необходимо идеально выровнять поверхность пола по уровню и оштукатурить стены, установив специальный маяк строго по вертикали. Затем дождаться полного высыхания ровнителя и можно приступать к облицовочным работам.
    Делаем разметку с помощью лазерного уровня для точного позиционирования рядов укладки плиток.
    Через 4-5 дней укладка кафельной плитки в ванной будет завершена!
  div.
    Укладка ламината в Томске 
    стык между ламинатом и напольной плиткой
    Зачистка, подготовка основания
    Грунтовка пола
    Устранение неровностей поверхности пола
    Заливка пола нивелир-массой
    Настил линолеума
    Укладка ламината
    Укладка напольных материалов на клей
    Монтаж плинтуса и порогов
    Подготовка пола под ламинат и укладку ПВХ плитки  в Томске 
    Укладка ламината и пвх материалов требует серьезного подхода. Для достижения хорошего результата потребуется выполнить целый комплекс работ, без которых зачастую не обойтись.
       Подготовка основания под укладку.
    Черновой пол необходимо зачистить и отгрунтовать специальной грунтовкой глубокого проникновения. После того как грунт высохнет, пол заливается саморастекающимся равнителем (нивелиркой). На 1м.кв. поверхности в среднем расходуется 10 кг. сухой смеси.
    Стоимость наших услуг зависит от вида монтажа и степени подготовки пола.
       Укладка ламината от 130 руб. за м2.
    Укладка производится прямая - по направлению вдоль света окон, либо диагональная укладка. Обязательно предусматривается разбежка рядов относительно друг друга со смещением не менее 30 см. Необходимо следить за соблюдением требуемых зазоров между краями ламината и стеной.
       укладка, поклейка пвх плит.
    Под прочные но тонкие напольные материалы подготовка основания должна быть гораздо серьезнее чем под ламинат, так как укладка производится на особый клей-мастику.
  div.
    Услуги сантехника в Томске 
    Сантехник в Томске
    Установка сантехнического оборудования в ванных комнатах.
    Замена водопроводных и канализационных труб.
    Подключение стиральных машин и бойлеров.
    Установка унитаза.
    Установка раковины.
    Монтаж умывальника с тумбой.
    Замена батарей, радиаторов отопления.
    Сварные работы.
    Монтаж систем водоснабжения и отопления 
    Любое вмешательство в систему отопления, водоснабжения и канализации требует особых навыков и знаний в области сантехники, не говоря уже о работах, связанных с электросваркой.

    Наши мастера по сантехнике, имея за плечами огромный опыт и теоретические знания способны быстро и по справедливым расценкам выполнить весь комплекс сантехнических работ - от прокладки труб водоснабжения и слива канализации до замены радиаторов отопления (батарей) и установкой котельного оборудования.

    Сантехник на дом Томск 
    Качественные услуги сантехника в Томске на дом в удобное для вас время. Если нужно установить унитаз, смеситель, подключить бойлер или стиральную машину, а так же заменить радиатор отопления и выполнить сварные работы, то мы с радостью поможем.
  div.
    Услуги электрика Томск 
    ремонт и замена электрики в Томске
    Полная замена электропроводки на новую
    Монтаж электрощитка
    Установка розеток,выключателей
    Сборка и установка светильников, люстр, бра
    Монтаж систем теплого пола
    Электромонтажные работы в Томске 
    Практически все виды ремонтных работ требуют вмешательства в систему электроснабжения объекта. Как минимум это замена розеток и выключателей. Далее идёт перенос электроточек на другие места. Иногда требуется полная замена электропроводки и щитка распределения электрического тока по допустимым нагрузкам на помещения.

       Большой опыт и квалификация наших мастеров - электромонтажников позволяет в короткие сроки производить ремонт и замену электропроводки, соблюдая технику безопасности.

    Заказывая услуги по электрике у нас, вы убедитесь в профессионализме наших электромонтажников и ваш объект будет защищён от таких неприятностей, как короткое замыкание.


