extends layout.pug

block includes
    title Services 

block content
  h2 Шпаклевка покраска стен и потолков в Томске 
  ul
    li          Штукатурка стен с затиркой
    li          Выравнивание стен штукатуркой по маякам
    li          Ремонт и подготовка стен под обои

    li          Подготовка оштукатуренных стен под обои
    li           Шпаклевка под обои

    li          Шпаклевка под покраску
    li          Грунтовка
    li          Покраска стен в 1 слой
    li          Покраска в 2 слоя