@require 'variables.styl'
@require '/src/components/components.styl'
@require '@glidejs/glide/dist/css/glide.core.min.css';
@require 'slick-carousel/slick/slick.css';
@require 'layout.styl';
@require 'index.styl';
@require 'photos.styl';
@require 'aboutus.styl';
@require 'prices.styl';

:root 
  --logo-font-basic 20
  


  
