@require '/src/components/video/video.styl'

body > * 
  margin 0 auto
  max-width: 1100px

.video_container
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-template-rows 300px
  grid-gap 20px

