@require 'variables.styl'
@require '/src/components/components.styl'
@require '/src/demo/site.blocks/site.blocks.styl';
@require 'pages/layout.styl';
@require 'pages/index/index.styl';
@require 'pages/photos/photos.styl';
@require 'pages/aboutus/aboutus.styl';
@require 'pages/testimonials/testimonials.styl';
@require 'pages/registration/registration.styl';

:root 
  --logo-font-basic 20
  


  
