extends layout.pug

block includes
  title Testimonials
  include /src/components/button/button.pug
  include /src/components/form-elements/input.pug
  include /src/components/form-elements/textarea.pug
  include /src/components/form-elements/tickbox.pug
  include /src/components/circlecharts/percentage.pug
  include /src/components/slider/slider.pug
    
block content
 
  .testimonials
    ul.testimonials__list
      li.testimonials__item
        .testimonials__name  Виктор Николаевич
        .testimonials__date  2017-01-17 02:33:35
        .testimonials__rating 
          +percentage(5,5)
        .testimonials__message Мне на днях закончили ремонт косметический в двухкомнатной хрущевке. Очень доволен качеством и сроками. Считаю что этих мастеров не стыдно и друзьям порекомендовать. К стати, согласно действующей акции ещё и стройматериал (шпаклёвочные смеси) в подарок предоставили!

      li.testimonials__item
        .testimonials__name Ларионов Дмитрий Борисович
        .testimonials__date 2016-09-03 05:12:11
        .testimonials__rating 
          +percentage(4,5)
        .testimonials__message Вчера закончили ремонт моей квартиры. Уложились на 4 дня раньше срока по договору. Хочется поблагодарить мастеров и сказать только одно - профессионалы. Рекомендую обращаться к ним.

      li.testimonials__item
        .testimonials__name  Наталья Анатольевна
        .testimonials__date  2016-07-04 14:55:20
        .testimonials__rating 
          +percentage(7,10)
        .testimonials__message Ребята ответственные,доброжелательные и главное все в срок! По качеству работы нареканий нет,только положительные эмоции,так что мой отзыв +5!!!

      li.testimonials__item
        .testimonials__name Николай Степанович - мой отзыв
        .testimonials__date 2016-05-19 03:11:15
        .testimonials__rating 
          +percentage(12,15)
        .testimonials__message Хорошие ребята, ответственные, профессионалы. Сделали все отлично, хорошо сэкономил на материалах, полчив скидку. Заключают договор, дают гарантию. Советую!
  div.testimonial-form
    form
      h2 Оставить отзыв
      .form__input-group.testimonial-form__name
        label имя
          +input()
      .form__input-group.testimonial-form__email
        label e-mail
          +input()
      .form__input-group.testimonial-form__rating
        label рейтинг
          span 
            +slider(5, {parts: 6, color: 2})
      .form__input-group.testimonial-form__message
        label сообщение
          +textarea()
      .form__input-group.testimonial-form__message
        label 
          +tickbox()
          span.agreement Подтверждаю согласие на обработку персональных данных
      .form__input-group.testimonial-form__submit
        +button("Отправить")

    
