extends layout.pug

block includes
  title Testimonials
  include /src/components/button/button.pug
  include /src/components/form-elements/input.pug
  include /src/components/form-elements/textarea.pug
    
block content
  div 
    +button("отозвать")
    
