$break = 900px
$mobile-break = 500px
$max-width = 1100px

:root
  --logo-font-basic 20
  --main-color  #e75735
  --support-color  #4eb7a8
  --light-grey  #e5e5e5
  --dark-grey  #747474
  --text-light #9d9d9d
  --text-dark #8d8d8d