section.profile-section
    h1.profile-section__header.section-header user profile
    div.profile-section__element-container
        +profile({image: "../images/userpic-1.jpg", name: "John Smith", profession: "ux designer"})
    div.profile-section__element-container
        +profile({image: "../images/userpic-2.jpg", name: "Sarah Brown", profession: "developer"})