mixin profiles-section()    
    section.profiles-section
        h1.profiles-section__header
            | user profile 
        .profiles-section__element-container
            +profile({image: "../images/userpic-1.jpg", name: "John Smith", profession: "ux designer"})
        .profiles-section__element-container
            +profile({image: "../images/userpic-2.jpg", name: "Sarah Brown", profession: "developer"})