.profile-section
  display inline-block
  vertical-align top
  &__header
    margin-bottom 1.66rem
    margin-top .4375rem
    padding-right 1.125rem

  &__element-container:not(:last-of-type)
    display flex
    margin-bottom 1.2rem
    justify-content center