mixin registration-stage-2()
    .registration-stage-2
        .registration-stage-2__input-group
            label.registration-stage-2__input-group-wrapper опыт(лет)
                +slider(100, {color: 1})
        .registration-stage-2__input-group
            label.registration-stage-2__input-group-wrapper.registration-stage-2__input-group-wrapper--toggle
                +toggle()
                span.agreement Подтверждаю согласие работать без выходных
