mixin stage(step, total)
    .stage
        span.stage__point.stage__point--active 1
        - for (var i = 1; i < total; i++)
            if i < step
                .stage__line.stage__line--active
                span.stage__point.stage__point--active=i+1
            else
                .stage__line
                span.stage__point=i+1

