$point-size = 29px

.stage
  display flex
  align-items center
  justify-content space-around
  
  &__line
    height 4px
    flex 1
    background-color var(--light-grey)
    
    &--active 
      background-color var(--main-color)
      
  &__point
    display: inline-flex
    justify-content center
    align-items center
    line-height 0
    font-size 14px
    font-weight bold
    width $point-size
    height $point-size
    border-radius 50%
    background-color var(--light-grey)
    text-align center
    color var(--text-dark)
    
    &--active 
      background-color var(--main-color)
      color white
  