mixin stage(step, total)
    .stage
        span.stage__point.stage__point--active 1
        - for (var x = 1; x < total; x++)
            - step--
            if step > 0
                .stage__line.stage__line--active
                span.stage__point.stage__point--active=x+1
            else
                .stage__line
                span.stage__point=x+1

