.video
  width 100%
  height 100%
  background black
  
  &__actual 
    width 100%
    height 100%
    
  &__controls
    display grid
    grid-template-columns max-content 1fr max-content
    width 100%
    background   rgba(0,0,12,.5);
    height 48px
    margin-top -52px
    z-index 999
    position relative
    align-items center
    
  &__progress-bar
    height 5px
    width calc(100% - 22px)
    border-radius 4px
    background-color var(--light-grey, grey)
    
  &__progress-position
    content ""
    display block
    border-radius 4px
    background-color var(--main-color, red)
    height 100%
    
  &__play-pause-button  
  &__fullscreen
    height 100%
    width 48px
    display flex
    align-items center
    justify-content center
    background-color var(--main-color, red)
    fill white
    
    &:hover
      fill var(--support-color, green)
      
  &__play-pause-button
    background-color transparent
    
  &__pause-icon--hidden 
    display none