mixin arrow-button(direction="right", alive=true)

    - var classes = [alive ? '' : 'arrow-button--disabled', `arrow-button--direction--${direction}` ];
    button.arrow-button(class=classes)
        svg(width="54px", height="54").arrow-button__image
            circle(cx='25' cy='25' r='23' fill='grey' stroke='grey' stroke-width="4px").arrow-button__border
            path(d="m20,14 l11, 11 l-11, 11" stroke="#000" fill='transparent' stroke-width='4px').arrow-button__pointer
