.arrow-button
  box-sizing border-box
  display inline-block
  user-select none
  padding 0
  margin 0
  border none
  background none
  width 50px
  height 50px
  border-radius 50%
  line-height 50px
  text-align center
  color #4eb7a8
  outline none
  cursor pointer  
      
  &--direction--left
    transform rotateZ(180deg)
    
  &__border
    stroke #4eb7a8
    fill transparent
      
  &__pointer
    stroke #4eb7a8
      
  &:hover
    & ^[0]__border
      stroke #4eb7a8
      fill #4eb7a8
      
    & ^[0]__pointer
      stroke white
      
  &--disabled,
  &--disabled:hover
    cursor not-allowed
    
    & ^[0]__border
      stroke grey
      fill grey
      
    & ^[0]__pointer
      stroke white


      


      
    