mixin registration-stage-3
    .registration-stage-3
        .registration-stage-3__input-group.registration__input-group--stage-3
            label.registration-stage-3__input-group-wrapper.registration-stage-3__input-group-wrapper--toggle
                +tickbox()
                span.agreement Подтверждаю согласие на обработку персональных данных
        .registration-stage-3__input-group.registration__input-group--stage-3
                +button("Готово")
