.search
  height 1.75rem
  background-color var(--light-grey)
  display flex
  align-items stretch
  border-radius .25rem
  overflow hidden
  &__body
    flex 1

  &__actual
    background-color transparent
    border none
    width 100%
    height 100%
    padding-left .9rem

  &__button
    width 33px
    height 100%
    display flex
    justify-content center
    align-items center 
    cursor pointer
    background-color var(--main-color)
  &__icon
    height .875rem
    width .875rem
  &__message
    padding-top .4rem
    padding-left .9rem
    letter-spacing -.2px
    font-size 14px
    vertical-align center
    height 100%
    width 100%
    background-color var(--main-color)
    color white
    display none
    
.search.search--failed 
  .search__message
    display block
  
