.toggle
  display inline-table
  width 50px
  height 26px
  vertical-align bottom
  --state-color var(--light-grey)
  
  &__actual
    display none
    
  &__label
    width 60px
    height 24px
    background-color var(--state-color)
    border-radius 25px
    display flex
    justify-content space-between
    align-items center
    padding 4px
    
    &:after
      content:"off"
      flex 1
      text-align center
      color white
      text-transform uppercase
      font-size 12px
      letter-spacing 1px
      font-family sans-serif
        
  &__circle
    width 18px
    height 18px
    border-radius 50%
    background-color white

  &__actual:checked
    &+^[0]__label 
      background-color var(--support-color)
      
      & > ^[0]__circle
        order 2  
        
    &+^[0]__label:after
      content "on" 
      order 1

      
  
  