.calendar-section
  vertical-align top
  padding-top 2.2rem
  display flex 
  justify-content center
  @media (min-width: mobile-break)
    display inline-block
    padding-left 4rem
  &__header
    section-header()
  &__body
    margin 1.46rem auto
  