.text-and-list
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 20px;
  
  &__list
    list-style square inside
    
  &__list-item
    font-style italic
    margin-bottom .6rem



         