mixin footer()   
    .footer
        div.footer__map
            +location({lat:"56.5034789", lng: "84.9392213"})
        div.footer__contact-data
            dl.footer__description-list
                .footer__contact-item
                    dt.footer__address Адрес:
                    dd 634009, Россия, Томск, Пер. Дербышевский - 15
                .footer__contact-item
                    dt.footer__phone Телефон:
                    dd +7 (903) 913-03-61
                .footer__contact-item
                    dt.footer__hours Часы работы:
                    dd ежедневно с 9:00 до 22:00

        div.footer__form
            +messaging({userpic:"images/master.jpg", name:"Тимофей", inverse:true})