.tickbox
  height 23px
  display inline-block
  vertical-align middle
  --stroke-color: white
  &--disabled
    --stroke-color: #c0c0c0
    .tickbox__label
      background-color var(--light-grey)
      
.tickbox__label
  display inline-block
  border-radius 50%
  width 23px
  height 23px
  background-color var(--support-color)


    
.tickbox__mark
  stroke var(--stroke-color)
  display none


.hidden
  display none
  &:checked + .tickbox__label
    .tickbox__mark
      display inline-block
      stroke var(--stroke-color)