mixin news({image, title, date = (new Date()).toLocaleDateString(), copy="lorem ipsum"}={})
    .news(style="--image-location: url(" + image + ");")
        .news__image
        .news__body
            h2.news__title=title
            .news__date=date 
            .news__copy=copy  