doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="styles.css")
    title Document
    include components/button/button.pug
    include components/arrow-button/arrow-button.pug
    include components/circlecharts/percentage.pug
    include components/circlecharts/donut.pug
    include components/slider/slider.pug
    include components/stage/stage.pug
    include components/form-elements/tickbox.pug

  body
    .wrapper
      section.buttons-section
        h1.buttons-section__header.section-header Standart buttons
        .buttons-section__body
          div
            +button("Button!", {size:'small'})
          div
            +button("Button!")
          div
            +button("Button!", {theme: 'error'})
          div
            +button("Button!", {theme: 'error', size: 'small'})
      section.arrows-section
        h1.arrows-section__header.section-header Arrow buttons
        .arrows-section__body
          div
            +arrow-button('left', true)
            +arrow-button('right')
      section.piechart-section
        h1.piechart-section__header.section-header percentages / donut chart
        .piechart-section__body
          div
            +percentage(0)
          div
            +percentage(38)
          div
            +percentage(62)
          div
            +percentage(100)
          div
            +donut([[100, "#747474"], [400, "#e75735"], [500, "#4eb7a8"], [400, "#e5e5e5"]])  
      section.sliders-section
        h1.sliders-section__header.section-header Sliders
        .sliders-section__body
          div
            +slider(200, {color: 1})   
          div
            +slider(100, {parts: 11, color: 2})

      section.stages-section
        h1.stages-section__header.section-header Sliders
        .sliders-section__body
          div
            +stage(3, 5)
          div
            +stage(4, 10)
      
      section.stages-section
        h1.stages-section__header.section-header Sliders
        .sliders-section__body
          div
            +tickbox(true)
          div
            +tickbox(false)
    script(src='app.js')