doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="styles.css")
    title Document
    include components/button/button.pug
    include components/arrow-button/arrow-button.pug
  body
    .wrapper
      section.buttons-section
        h1.buttons-section__header.section-header Standart buttons
        .buttons-section__body
          div
            +button("Button!", {size:'small'})
          div
            +button("Button!")
          div
            +button("Button!", {theme: 'error'})
          div
            +button("Button!", {theme: 'error', size: 'small'})
      section.arrows-section
        h1.arrows-section__header.section-header Arrow buttons
        .arrows-section__body
          div
            +arrow-button('left', true)
            +arrow-button('right')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='app.js')