:root
  --main-color  #e75735
  --support-color  #4eb7a8
  --light-grey  #e5e5e5
  --dark-grey  #747474
  --text-light #9d9d9d
  --text-dark #4f4f4f

@require './components/button/button.styl'
@require './components/arrow-button/arrow-button.styl'

@require '@material/ripple/dist/mdc.ripple.min.css'

@require './components/circlecharts/donut.styl'
@require './components/circlecharts/percentage.styl'
@require './components/slider/slider.styl'
@require './components/stage/stage.styl'
@require './components/form-elements/tickbox.styl'
@require './components/form-elements/input.styl'
@require './components/form-elements/textarea.styl'
@require './components/form-elements/toggle.styl'
@require './components/search/search.styl'
@require './components/dropdown/dropdown.styl'


  

*
  box-sizing border-box
.button1 
  width 200px
  height 200px
  background red
.wrapper 
  margin 0 auto
  max-width: 1200px
  
.section-header
  text-align: center
  margin 40px 0 
  font-family sans-serif
  text-transform uppercase
  color #4f4f4f
  width 100%
  
.buttons-section__body
  display grid
  grid-template-columns 1fr 1.5fr 1.5fr 1fr
  grid-gap 20px 50px
  place-items  end center
  
.arrows-section__body
  text-align center
  
.piechart-section__body
  display flex
  justify-content space-between
  
.sliders-section__body
  display grid
  grid-gap 20px
  grid-template-columns 1fr 1fr
  
form.elements
  &>div
    margin-bottom 15px

.form-elements-section
  display grid
  grid-gap 20px
  grid-template-columns 1fr 1fr
  grid-template-rows 100px auto

  &__header
    grid-column-end:  span 2
  & > form
    grid-row-end span 2
    & > * 
      margin-bottom 15px
  &__subsection
    display flex
    flex-wrap wrap
    justify-content center
    & > .section-header
      margin 10px 0
.dropdown-section
  width: calc(50% - 10px)
  & > div
    margin-bottom 15px
