@require './components/button/button.styl'

*
	box-sizing border-box
	
.wrapper 
	margin 0 auto
	width: 1200px

.buttons-section__body
	display grid
	grid-template-columns 1fr 1.5fr 1.5fr 1fr
	grid-gap 20px 50px
	place-items  end center
.buttons-section__header
	text-align: center
	margin 40px 0	