@require './components/button/button.styl'
@require './components/arrow-button/arrow-button.styl'

@require '@material/ripple/dist/mdc.ripple.min.css'

@require './components/circlecharts/donut.styl'
@require './components/circlecharts/percentage.styl'

*
	box-sizing border-box
.button1 
	width 200px
	height 200px
	background red
.wrapper 
	margin 0 auto
	width: 1200px
	
.section-header
	text-align: center
	margin 40px 0	
	font-family sans-serif
	text-transform uppercase
	color #4f4f4f
	
.buttons-section__body
	display grid
	grid-template-columns 1fr 1.5fr 1.5fr 1fr
	grid-gap 20px 50px
	place-items  end center
	
.arrows-section__body
	text-align center
	
.piechart-section__body
	display flex
	justify-content space-between
	

