mixin donut(segs)
    - var rest = num !== 100 ? 100 - num : 1;
    - var colorRest = num !== 100 ? 'transparent' : '#ff0000';
 
    .donut(
      chart-type="donut",
      data-chart-inner-radius="31",
      data-chart-outer-radius="48",
      data-chart-segments=segments=segs
    )