include /src/components/button/button.pug
include /src/components/form-elements/input.pug
include /src/components/form-elements/textarea.pug
include /src/components/form-elements/tickbox.pug
include /src/components/slider/slider.pug
include /src/components/calendar/calendar.pug

mixin review-form()
    form.review-form
        legend.review-form__legend Оставить отзыв
        .review-form__inner
            .review-form__calendar
                label выбрать день публикации
                +calendar()
            .review-form__inputs
                .review-form__input-group.review-form__input-group--name
                    label.review-form__label имя
                        +input()
                .review-form__input-group.review-form__input-group--email
                    label.review-form__label e-mail
                        +input()
                .review-form__input-group.review-form__input-group--rating
                    label.review-form__label рейтинг
                        span 
                            +slider(5, {parts: 6, color: 2})
                .review-form__input-group.review-form__input-group--message
                    label.review-form__label сообщение
                        +textarea()
                .review-form__input-group.review-form__input-group--agreement
                    label.review-form__label 
                        +tickbox()
                        span.review-form__agreement Подтверждаю согласие на обработку персональных данных
                .review-form__input-group.review-form__input-group--submit
                    +button("Отправить")