@require '/src/demo/site.blocks/review-form/review-form.styl';
@require '/src/demo/site.blocks/review-list/review-list.styl';
@require '/src/demo/site.blocks/text-and-list/text-and-list.styl';
@require '/src/demo/site.blocks/advertised-prices/advertised-prices.styl';
@require '/src/demo/site.blocks/advertised-services/advertised-services.styl';
@require '/src/demo/site.blocks/photo-grid/photo-grid.styl';
@require '/src/demo/site.blocks/registration/registration.styl';
@require '/src/demo/site.blocks/main-menu/main-menu.styl';
@require '/src/demo/site.blocks/site-head/site-head.styl';
@require '/src/demo/site.blocks/footer/footer.styl';
@require '/src/demo/site.blocks/page/page.styl';