mixin slider(maxValue, {parts="", pips="", color="1"}={})
    .slider.js-slider(
      data-max-value=maxValue,
      data-parts= parts,
      data-pips-one= pips,
      class= color == "1" ? "slider--color--one" : "slider--color--two"
    )
