mixin slider(maxValue, {parts="", pips="", color="orange"}={})
    .slider.js-slider(
      data-max-value=maxValue,
      data-parts= parts,
      data-pips-one= pips,
      class= `slider--color--${color}`
    )
