mixin slider(maxValue, opts)
    .slider.js-slider(
      data-max-value=maxValue,
      data-parts=opts && opts.parts ? opts.parts : "",
      data-pips-one=opts && opts.pips ? opts.pips + "" : "",
      class=opts && opts.color == "1" ? "slider--color--one" : "slider--color--two"
    )
