mixin slider(maxValue, opts)
  div(
  data-max-value=maxValue,
  data-parts=opts.parts,
  data-pips-one=opts.pips + "",
  class=opts.color == "1" ? "slider--color-one" : "slider--color-two"
  ).slider
